/* chart */
#container {
	height: 400px;
}

.highcharts-figure, .highcharts-data-table table {
	min-width: 310px;
	max-width: 800px;
	margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #ebebeb;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}

.highcharts-data-table caption {
	padding: 1em 0;
	font-size: 1.2em;
	color: #555;
}

.highcharts-data-table th {
	font-weight: 600;
	padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th,
	.highcharts-data-table caption {
	padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even)
	{
	background: #f8f8f8;
}

.highcharts-data-table tr:hover {
	background: #f1f7ff;
}


/* MainPage */
#jb-main{
	margin: 10px 10px 10px 10px;
}

#jb-container {
	margin: 10px auto;
	padding: 20px;
	border: 1px solid #bcbcbc;
}

#jb-header {
	padding: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #bcbcbc;
}

#jb-content {
	width: 580px;
	padding: 10px;
	margin-bottom: 10px;
	float: left;
	border: 1px solid #bcbcbc;
}

#jb-sidebar {
	width: 260px;
	padding: 10px;
	margin-bottom: 10px;
	float: right;
	border: 1px solid #bcbcbc;
}

#jb-footer {
	clear: both;
	padding: 10px;
	border: 1px solid #bcbcbc;
}

@media ( max-width : 480px ) {
	#jb-container {
		width: auto;
	}
	#jb-content {
		float: none;
		width: auto;
	}
	#jb-sidebar {
		float: none;
		width: auto;
	}
}

.mybox {
	border: 1.5px solid;
	padding: 10px;
	border-radius: 5px;
	width: 170px;
	height: 60px;
	background-color: #EBEBEB;
	font-family: Nanum Gothic;
	display: inline-block;
	width: 17%;
}

@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
.jm-font {
	font-family: 'Jeju Myeongjo', serif;
	color: orange;
}